.banner-container {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  margin-top: 70px;
}

.banner-imgs-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.banner-img-mostrar {
  opacity: 1;
}

.banner-capa {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #00000099;
}

.container-logo-section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo-section1 {
  min-width: 50px;
  max-width: 700px;
  width: 75%;
  /* height: 100%; */
  object-fit: contain;
  margin-bottom: 15px;
}

.container-eslogan {
  color: white;
  font-size: 19px;
}

.cita-link-container {
  position: absolute;
  bottom: 50px;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cita-link {
  background-color: #c63d8f;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.cita-link:hover {
  background-color: white;
  color: #c63d8f;
}

.seccion-2 {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.img-section-2 {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  margin: 12px;
  min-width: 10%;
  max-height: 250px;
}

.img-section-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.descripcion-section-2 {
  margin: 12px;
  min-width: 80%;
  flex: 1;
  
}
