.galeria-container {
  max-width: 100%;
  height: 500px;
  min-height: 300px;
  max-height: 60vh;
  overflow: hidden;
  position: relative;
}


.galeria-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: 0;
}

.galeria-capaOscura {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  color: white;
  z-index: 10;
}

.galeria-fondo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  object-position: center;
}

.servicios {
  margin-top: 60px;
}

.servicios-section {
  padding: 20px 50px 50px;
}

.servicios-titulo {
  font-size: 26px;
  color: #00000090;
  margin: 20px;
}

.servicios-inf {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.servicio-tarjeta {
  width: 400px;
  max-width: 90%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #00000050;
  margin: 20px;
}

.servicio-tarjeta img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.servicio-targeta-info {
  padding: 15px 15px 5px;
  display: flex;
  justify-content: space-between;
}

.servicio-targeta-info h3 {
  color: #ed39a5;
}

.servicio-tarj-descripcion {
  padding: 5px 15px;
  color: grey;
}
