<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pide tu cita</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
    <link rel="stylesheet" href="../css/agendar.css" />
  </head>
  <body>
    <header class="header-container">
      <div class="header-logo-container">
        <a href="index.html" class="header-logo-link">
          <img
            class="header-logo-img"
            src="../images/SpaCanelitaLogo.svg"
            alt="Spa Canelita Logo"
            width="66"
            height="13"
        /></a>
      </div>
      <!--Navegacion en todas las pestañas de la página-->
      <nav id="header-nav-container" class="header-nav-container">
        <a href="./index.html" class="header-nav-link">Inicio</a>
        <a href="./servicios.html" class="header-nav-link">Servicios</a>
        <p class="header-nav-link header-nav-no-link">Pide tu Cita</p>
        <a href="./contactos.html" class="header-nav-link">Contacto</a>
      </nav>

      <button id="header-menu-button" class="header-menu-button">
        <!--PARA cuando la pantalla esta pequeña el menu aparezca atraves de un botón-->
        <img
          class="header-button-icon"
          src="../images/menu-icon.svg"
          alt="Abrir menu"
          width="60"
          height="60"
        />
      </button>
    </header>

    <div class="agendar-container">
      <div class="agendar-oscuro"></div>
      <!--Para darle oscuridad a la imagen de fondo-->
      <div style="position: relative; z-index: 10">
        <h2 class="agendar-titulo">Pide tu Cita</h2>

        <form id="agendar-form" class="agendar-formulario">
          <label for="nombre">Nombre</label>
          <input class="agendar-option" type="text" id="nombre" />

          <label for="apellidos">Apellidos</label>
          <input class="agendar-option" type="text" id="apellidos" />

          <label for="telefono">Teléfono</label>
          <input class="agendar-option" type="tel" id="telefono" />

          <label for="email">Email</label>
          <input class="agendar-option" type="email" id="email" />

          <h2>Presupuesto</h2>

          <label for="servicio">Servicio</label>
          <select class="agendar-option" name="servicio" id="servicio">
            <option value="servicio-seleccionar">Seleccionar</option>
            <option value="babor-spress">Babor Spress 35€</option>
            <option value="velos-de-colágeno">Velos de Colágeno 60€</option>
            <option value="crash-ampollas">Crash Ampollas 90€</option>
            <option value="chocolaterapia">Chocolaterapia 55€</option>
            <option value="vinoterapia">Vinoterapia 80€</option>
          </select>

          <label for="fecha">Dia/Hora</label>
          <input
            class="agendar-option"
            type="datetime-local"
            id="fecha"
            required
          />

          <div class="agendar-polit-priv">
            <input type="checkbox" id="polit-priv" required />
            <a href="./polit-priv.html">Aceptar pólitica de privacidad</a>
          </div>

          <div id="agendar-errors"></div>

          <button onclick="validateForm()" class="agendar-enviar">
            Enviar
          </button>

          <div id="agendar-exitoso"></div>
        </form>
      </div>
    </div>

    <footer class="footer-container">
      <div class="footer-logo">
        <img
          src="../images/SpaCanelitaLogo.svg"
          alt="Spa canelita"
          width="66"
          height="13"
        />
      </div>

      <p class="footer-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        temporibus praesentium deleniti, eaque delectus culpa dolorem aperiam
        quaerat maiores voluptatibus doloremque quisquam? Neque cupiditate
        tenetur, a eveniet delectus ut qui!
      </p>

      <div class="footer-inf-container">
        <div class="info-item">
          <img
            src="../images/ubicacion-icono.svg"
            alt="ubicación"
            width="46"
            height="61"
          />

          <p>Cl. Toledo, 23, 13005 Ciudad Real</p>
        </div>

        <a href="tel:+34672998765" class="info-item">
          <img
            src="../images/tel-icono.svg"
            alt="telefono"
            width="50"
            height="50"
          />

          <p>+34 672 99 87 65</p>
        </a>

        <div class="info-item">
          <img
            src="../images/email-icono.svg"
            alt="email"
            width="60"
            height="46"
          />

          <p>contacto@spacanelita.com</p>
        </div>
      </div>

      <div class="legal-container">
        <div class="copyright-cont">
          <img
            src="../images/copyright-icono.svg"
            alt="C"
            width="54"
            height="54"
          />

          <p>Spa Canelita, Derechos de autor.</p>
        </div>

        <div class="redes-sociales">
          <a class="social-link" href="https://twitter.com" target="_blank">
            <!--TARGET-BLANK: Para que el Link se me abra en una ventana nueva-->
            <img
              src="../images/twitter-icono.svg"
              alt="twitter"
              width="60"
              height="60"
            />
          </a>

          <a class="social-link" href="https://facebook.com" target="_blank">
            <img
              src="../images/facebook-icono.svg"
              alt="facebook"
              width="50"
              height="50"
            />
          </a>

          <a class="social-link" href="https://whatsapp.com" target="_blank">
            <img
              src="../images/whatsapp-icono.svg"
              alt="whatsapp"
              width="60"
              height="60"
            />
          </a>

          <a class="social-link" href="https://instagram.com" target="_blank">
            <img
              src="../images/instagram-icono.svg"
              alt="instagram"
              width="56"
              height="56"
            />
          </a>
        </div>
      </div>
    </footer>

    <script src="../js/presupuesto.js"></script>
  </body>
</html>
