<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
  </head>
  <body>
    <header class="header-container">
      <div class="header-logo-container">
        <a href="index.html" class="header-logo-link"
          ><img
            class="header-logo-img"
            src="../images/SpaCanelitaLogo.svg"
            alt="Spa Canelita Logo"
        /></a>
      </div>

      <nav class="header-nav-container">
        <a href="./index.html" class="header-nav-link">Inicio</a>
        <a href="./servicios.html" class="header-nav-link">Servicios</a>
        <a href="./agendar.html" class="header-nav-link">Pide tu Cita</a>
        <p class="header-nav-link header-nav-no-link">Contacto</p>
      </nav>
    </header>
  </body>
</html>
