<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
    <link rel="stylesheet" href="../css/contactos.css" />
  </head>
  <body>
    <header class="header-container">
      <div class="header-logo-container">
        <a href="index.html" class="header-logo-link">
          <img
            class="header-logo-img"
            src="../images/SpaCanelitaLogo.svg"
            alt="Spa Canelita Logo"
            width="66"
            height="13"
          />
        </a>
      </div>
      <!--Navegacion en todas las pestañas de la página-->
      <nav id="header-nav-container" class="header-nav-container">
        <a href="./index.html" class="header-nav-link">Inicio</a>
        <a href="./servicios.html" class="header-nav-link">Servicios</a>
        <a href="./agendar.html" class="header-nav-link">Pide tu Cita</a>
        <p class="header-nav-link header-nav-no-link">Contacto</p>
      </nav>

      <button
        id="header-menu-button"
        class="header-menu-button"
        onclick="actionButton()"
      >
        <!--PARA cuando la pantalla esta pequeña el menu aparezca atraves de un botón-->
        <img
          class="header-button-icon"
          src="../images/menu-icon.svg"
          alt="Abrir menu"
          width="60"
          height="60"
        />
      </button>
    </header>

    <div class="contacto-container">
      <div class="contacto-mensaje-container">
        <h2>Contacto para cualquier consulta</h2>
        <div class="contacto-mensaje-datos">
          <div class="contacto-mensaje-datos-L1">
            <input
              class="contacto-input-L1"
              type="text"
              id="nombre"
              placeholder="Nombre"
            />

            <input
              class="contacto-input-L1"
              type="email"
              id="email"
              placeholder="Email"
            />
          </div>

          <textarea class="contacto-mensaje" name="mensaje" id="mensaje">

Cordial saludo...
          </textarea
          ><!--Mensaje automatico que el cliente puede usar o no-->

          <button class="contacto-enviar">Enviar</button>
        </div>
      </div>
    </div>

    <div class="contacto-mapa-contenedor">
      <div id="contacto-mapa"></div>
    </div>

    <footer class="footer-container">
      <div class="footer-logo">
        <img
          src="../images/SpaCanelitaLogo.svg"
          alt="Spa canelita"
          width="66"
          height="13"
        />
      </div>

      <p class="footer-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
        temporibus praesentium deleniti, eaque delectus culpa dolorem aperiam
        quaerat maiores voluptatibus doloremque quisquam? Neque cupiditate
        tenetur, a eveniet delectus ut qui!
      </p>

      <div class="footer-inf-container">
        <div class="info-item">
          <img
            src="../images/ubicacion-icono.svg"
            alt="ubicación"
            width="46"
            height="61"
          />

          <p>Cl. Toledo, 23, 13005 Ciudad Real</p>
        </div>

        <a href="tel:+34672998765" class="info-item">
          <img
            src="../images/tel-icono.svg"
            alt="telefono"
            width="50"
            height="50"
          />

          <p>+34 672 99 87 65</p>
        </a>

        <div class="info-item">
          <img
            src="../images/email-icono.svg"
            alt="email"
            width="60"
            height="46"
          />

          <p>contacto@spacanelita.com</p>
        </div>
      </div>

      <div class="legal-container">
        <div class="copyright-cont">
          <img
            src="../images/copyright-icono.svg"
            alt="C"
            width="54"
            height="54"
          />

          <p>Spa Canelita, Derechos de autor.</p>
        </div>

        <div class="redes-sociales">
          <a class="social-link" href="https://twitter.com" target="_blank">
            <!--TARGET-BLANK: Para que el Link se me abra en una ventana nueva-->
            <img
              src="../images/twitter-icono.svg"
              alt="twitter"
              width="60"
              height="60"
            />
          </a>

          <a class="social-link" href="https://facebook.com" target="_blank">
            <img
              src="../images/facebook-icono.svg"
              alt="facebook"
              width="50"
              height="50"
            />
          </a>

          <a class="social-link" href="https://whatsapp.com" target="_blank">
            <img
              src="../images/whatsapp-icono.svg"
              alt="whatsapp"
              width="60"
              height="60"
            />
          </a>

          <a class="social-link" href="https://instagram.com" target="_blank">
            <img
              src="../images/instagram-icono.svg"
              alt="instagram"
              width="56"
              height="56"
            />
          </a>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="../js/rutaMapa.js"></script>
  </body>
</html>
