<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="shortcut icon" href="../images/Spa.svg" type="image/x-icon" />
    <link rel="stylesheet" href="../css/componentes.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>
  <body>
    <header class="header-container">
      <div class="header-logo-container">
        <a href="index.html" class="header-logo-link"
          ><img
            class="header-logo-img"
            src="../images/SpaCanelitaLogo.svg"
            alt="Spa Canelita Logo"
        /></a>
      </div>

      <nav class="header-nav-container">
        <p class="header-nav-link header-nav-no-link">Inicio</p>
        <a href="./servicios.html" class="header-nav-link">Servicios</a>
        <a href="./agendar.html" class="header-nav-link">Pide tu Cita</a>
        <a href="./contactos.html" class="header-nav-link">Contacto</a>
      </nav>

      <button class="header-menu-button">
        <img class="header-button-icon" src="../images/menu-icon.svg" alt="Abrir menu" />
      </button>

    </header>

    <section class="banner-container">
      <div class="banner-imgs-container">
        <img
          id="banner-img-1"
          class="banner-img banner-img-mostrar"
          src="../images/banner/spa1.jpg"
          alt="masajes"
        />
        <img
          id="banner-img-2"
          class="banner-img"
          src="../images/banner/spa2.webp"
          alt="Piedras"
        />
        <img
          id="banner-img-3"
          class="banner-img"
          src="../images/banner/spa3.jpg"
          alt="masajes en manos"
        />
      </div>

      <div class="banner-capa"></div>

      <div class="container-logo-section1">
        <img
          class="logo-section1"
          src="../images/Spa Canelita-logo-blanco.svg"
          alt=""
        />
        <p class="container-eslogan">
          Un Spa único, nuevo y diferente en Ciudad Real
        </p>
      </div>
      <div class="cita-link-container">
        <a class="cita-link" href="./agendar.html">Hacer cita</a>
      </div>
    </section>

    <section>
      <div>
        <img src="" alt="" />
      </div>
      <p>
        Su mejor centro de Spa, Belleza y cuidado de la piel. Lorem ipsum dolor
        sit, amet consectetur adipisicing elit. Tempora ex voluptate nesciunt
        earum deleniti nemo blanditiis animi, mollitia esse suscipit. Ut enim
        error mollitia. Vero nisi molestias quidem dolorum? Quisquam.
      </p>
    </section>
    <script src="../js/baner.js"></script>
  </body>
</html>
